
.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.containerBackgroundLight{
  background-color:white
}
.containerBackgroundDark{
  background-color:black
}


.imageContainerDiv{
  position: absolute;
  z-index: 0;
  height: 40vh;
}
.imageContainer{
  position: relative;
  width: 100vw;
  height: 100%;
}

.todoContainer{
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: space-between;
}


.title{
  background-color: yellow;
}

