
.addTodoDiv{
  width: 100%;
  color:var(--todo-item-text);
  background-color:var(--background-color-todo-item);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 20px var(--shadow-color);
}

.todoInput{
  width: 80%;
  margin-left: 1rem;
  border:none;
  outline: none;
  background-color: inherit;
  color:var(--todo-item-text)
}


.todoInput::-webkit-input-placeholder { /* Edge */
  color: gray;
}

.todoInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
}

.todoInput::placeholder {
  color: gray;
}