.todoItem{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  border:1px solid rgba(0, 0, 0, 0.159);
  padding:1rem;
  background-color: white;
}

.todoContent{
  color:black;
  text-align: left;
  margin-left: 1rem;
}

.todoContentCheck{
  text-decoration: line-through;
  color:gray;
}


