.todosList{
  border-radius:0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:stretch;
  background-color:var(--background-color-todo-item);
  box-shadow: 0px 0px 20px var(--shadow-color);
  color:var(--todo-item-text)
}