.todosList{
  border-radius:0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:stretch;
  background-color:var(--background-color-todo-item);
  box-shadow: 2px 0px 5px gray,0px 2px 5px gray,-2px 0px 5px gray,0px -2px 5px gray;
  color:var(--todo-item-text)
}